In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('melb_data.csv')
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [6]:
# to get the no of unique values
df.nunique()

Suburb             314
Address          13378
Rooms                9
Type                 3
Price             2204
Method               5
SellerG            268
Date                58
Distance           202
Postcode           198
Bedroom2            12
Bathroom             9
Car                 11
Landsize          1448
BuildingArea       602
YearBuilt          144
CouncilArea         33
Lattitude         6503
Longtitude        7063
Regionname           8
Propertycount      311
dtype: int64

In [7]:
df.shape

(13580, 21)

In [8]:
df.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [11]:
column_to_use = ['Suburb', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
        'Distance', 'Bedroom2', 'Bathroom', 'Car','Landsize', 'BuildingArea',  'CouncilArea','Regionname', 'Propertycount']
df = df[column_to_use]
df.shape

(13580, 15)

In [13]:
df.isna().sum()

Suburb              0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Distance            0
Bedroom2            0
Bathroom            0
Car                62
Landsize            0
BuildingArea     6450
CouncilArea      1369
Regionname          0
Propertycount       0
dtype: int64

In [14]:
columns_to_fill_zero = ['Car']
df['Car'] = df['Car'].fillna(0)

In [15]:
df['BuildingArea'] = df['BuildingArea'].fillna(df['BuildingArea'].mean())

In [18]:
df.isna().sum()

Suburb              0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Distance            0
Bedroom2            0
Bathroom            0
Car                 0
Landsize            0
BuildingArea        0
CouncilArea      1369
Regionname          0
Propertycount       0
dtype: int64

In [20]:
df.shape

(13580, 15)

In [25]:
df.CouncilArea.nunique()

33

In [26]:
df.dropna(inplace = True)
df.shape

(12211, 15)

In [27]:
df = pd.get_dummies(df, drop_first = True)
df.head()

,Rooms,Price,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Propertycount,Suburb_Aberfeldie,...,CouncilArea_Wyndham,CouncilArea_Yarra,CouncilArea_Yarra Ranges,Regionname_Eastern Victoria,Regionname_Northern Metropolitan,Regionname_Northern Victoria,Regionname_South-Eastern Metropolitan,Regionname_Southern Metropolitan,Regionname_Western Metropolitan,Regionname_Western Victoria
0,2,1480000.0,2.5,2.0,1.0,1.0,202.0,151.96765,4019.0,0,...,0,1,0,0,1,0,0,0,0,0
1,2,1035000.0,2.5,2.0,1.0,0.0,156.0,79.00000,4019.0,0,...,0,1,0,0,1,0,0,0,0,0
2,3,1465000.0,2.5,3.0,2.0,0.0,134.0,150.00000,4019.0,0,...,0,1,0,0,1,0,0,0,0,0
3,3,850000.0,2.5,3.0,2.0,1.0,94.0,151.96765,4019.0,0,...,0,1,0,0,1,0,0,0,0,0
4,4,1600000.0,2.5,3.0,1.0,2.0,120.0,142.00000,4019.0,0,...,0,1,0,0,1,0,0,0,0,0

In [29]:
x = df.drop('Price', axis = 1)
y = df.Price

In [51]:
from sklearn.model_selection import train_test_split
x_train,x_test, y_train, y_test = train_test_split(x,y,test_size = 0.3, random_state = 2)

# Linear Regression

In [52]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [53]:
model.score(x_test,y_test)

-600540798419.8297

In [54]:
model.score(x_train, y_train)

0.7120927410757101

# Lasso Regression

In [55]:
from sklearn.linear_model import Lasso

In [56]:
model1 = Lasso(alpha = 50, max_iter = 100, tol = 0.1)
model1.fit(x_train,y_train)

C:\Users\seher\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 5.273e+14, tolerance: 3.475e+14
  model = cd_fast.enet_coordinate_descent(

Lasso(alpha=50, max_iter=100, tol=0.1)

In [58]:
model1.score(x_test, y_test)

0.6635361138790516

In [59]:
model1.score(x_train, y_train)

0.7074303619393785

# Ridge Regression

In [60]:
from sklearn.linear_model import Ridge
model2 = Ridge(alpha = 50, max_iter = 100, tol = 0.1)
model2.fit(x_train,y_train)

Ridge(alpha=50, max_iter=100, tol=0.1)

In [61]:
model1.score(x_test, y_test)

0.6635361138790516

In [62]:
model1.score(x_train, y_train)

0.7074303619393785